body {
  padding-left: auto;
  padding-right: auto;
  font-family: sans-serif;
}

h1 {
  display: inline-block;
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
}

header {
  position: relative;
}

button {
  font-size: 12;
background-color: #707E7C;
border: 0;
width: 30px;
height: 30px;
border-radius: 30px;
color: white;
}

#refresh {
  position: absolute;
  left: 50%;
  width: auto;
  background-color: #DDE2E1;
  color: black;
  transform: translate(-50%, 0);
  align-self: center;
}

#refresh > img {
  display: none;
}

#refresh:after {
  content: 'Обновить геолокацию';
}

#here_icon {
  width:100px;
  height: 100px;
}

#weather_here, #favorites{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  width: 100%;
}

#general_info > span {
  font-size: 88;
  font-weight: bold;
  float:right;
  margin-right: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.weather_list_name {
  font-weight: bold;
  color: white;
}
.weather_list_content {
  float:right;
  color: white;
}
.weather_list  li {
  background-color: #90A3A0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

#favorites_add, header {
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.fav_weather_icon {
  width: 25px;
  height: 25px;
}

.fav_city_header {
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
#add_city {
  align-self: center;
}

#add_city > input {
  width: 250px;
  padding: 10px;
  background-color: #B6C6C4;
  border: 0;
}

.button_delete {
  margin-left: auto;
}

.fav_city_header .temperature {
  font-size: 30px
}

@media all and (max-width: 1090px) {
  #weather_here, #favorites_add, #favorites{
    display: grid;
    grid-template-columns: 1fr;
    width: 1fr;
  }

  #add_city {
    display: flex;
    gap: 20px;
  }

  #add_city > input {
    flex-grow: 1;
  }

  #refresh {
    left:auto;
right: 5px;
transform: none;
width: 40px;
height: 40px;
  }
  #refresh > img {
    display: block;
    width: 30px;
    height: 30px;
  }

  #refresh::after {
    content: "";
  }

}
