body {
  padding-left: auto;
  padding-right: auto;
}

h1 {
  display: inline-block;
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

header {
  position: relative;
}

#refresh {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  align-self: center;
}

#refresh > img {
  display: none;
}

#refresh:after {
  content: 'Обновить геолокацию';
}

#here_icon {
  width:100px;
  height: 100px;
}

#weather_here, #favorites{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  width: 100%;
}

#general_info > span {
  font-size: 88;
  font-weight: bold;
  float:right;
}

ul {
  list-style-type: none;
  padding: 0;
}

.weather_list_name {
  font-weight: bold;
}
.weather_list_content {
  float:right;
}
.weather_list  li {
  background-color: #EEEEEE;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
}

#favorites_add, header {
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.fav_weather_icon {
  width: 25px;
  height: 25px;
}

.fav_city_header {
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: start;
}
#add_city {
  align-self: center;
}

.button_delete {
  margin-left: auto;
}

.fav_city_header .temperature {
  font-size: 30px
}

@media all and (max-width: 750px) {
  #weather_here, #favorites_add, #favorites{
    grid-template-columns: 1fr;
    width: 1fr;
  }
  #refresh {
    left:auto;
    right: 5px;
    transform: none;
  }
  #refresh > img {
    display: block;
    width: 25px;
    height: 25px;
  }
  #refresh::after {
    content: "";
  }

}
